.projects-pro-top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.projects-pro-top-image {
  height: 100%;
  width: 100%;
  position: relative;
}
.projects-pro-top-image-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.projects-pro-top-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.projects-pro-top-title {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 1s ease-out 0.5s forwards;
  margin-top: -250px;
}

.projects-pro-top-sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin: 10px 0;
  text-align: center;
  z-index: 2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 1s ease-out 0.7s forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects-top-page-seperation {
  display: flex;
  flex-direction: row;
  row-gap: 2px;
}
.projects-type {
  flex: 1;
  border-radius: 2px;
  color: rgb(8, 22, 59);
  font-size: 38px;
  font-weight: 500;
  font-family: Teko, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  margin: 0 0px;
}

.selected {
  background-color: rgb(50, 50, 50);
  color: white;
}
.projects-page {
  display: grid;
  grid-template-rows: 100px 1fr;
  margin: 0px 2px;
  row-gap: 2px;
}

.projects-page-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2px;
  row-gap: 2px;
}

.projects-page-preview {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects-page-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  max-height: 351px;
}

.projects-page-preview:hover::before {
  opacity: 0.8;
}

.projects-page-photo {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  display: block;
  z-index: 0;
  max-height: 351px;
  object-fit: cover;
  object-position: 50% 65%;
}

.projects-page-preview:hover .projects-page-photo {
  transform: scale(1.12);
}

.projects-page-title {
  position: absolute;
  bottom: 25%;
  left: 10%;
  transform: translate(-10%, 50%);
  font-size: 30px;
  color: white; /* Correct color code */
  font-family: Teko, sans-serif;
  font-weight: 500;
  z-index: 2;
}

.projects-page-view-project-button {
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size: 20px;
  color: white;
  font-family: Teko, sans-serif;
  cursor: pointer;
  z-index: 2;
}

.projects-page-view-project-button:hover {
  color: rgb(255, 193, 42);
}
.projects-page-button-go-to {
  position: absolute;
  bottom: 5%;
  right: 8%;
  font-size: 20px;
  color: yellow;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-page-button-go-to:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.fatt1 {
  font-size: 42px !important;
  color: rgb(255, 193, 42) !important; /* Color change on hover */
  padding: 0px 20px !important;
  font-family: Teko, sans-serif;

  transition: transform 0.3s ease, color 0.3s ease; /* Add 
  transition for smooth effect */
}

.fatt1:hover {
  color: rgb(255, 193, 42) !important; /* Color change on hover */
  transform: translateX(3px); /* Move the element to the right */
}
.fatt1:active {
  opacity: 0.2;
}

.button-container {
  margin-top: 10px;
  display: grid;
  width: 100%;
  place-items: center;
}
.button-view-all-project {
  background-color: rgb(255, 193, 42);
  color: rgb(8, 22, 59);
  font-size: 18px;
  font-weight: 500;
  font-family: Teko, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  width: 200px;
  align-self: center;
}
