<div class="projects-pro-top-container">
  <div class="projects-pro-top-image">
    <img
      class="projects-pro-top-image"
      src="/Image/Works/construction-work-6.jpg"
      alt=""
    />
    <div class="projects-pro-top-text">
      <h1 class="projects-pro-top-title">{{ "projectTop.0" | translate }}</h1>
      <h2 class="projects-pro-top-sub-title">
        {{ "projectTop.1" | translate }} &#8722;
        {{ "projectTop.2" | translate }}
      </h2>
    </div>
  </div>
</div>

<div class="selected-project js-selected-project">
  <div class="projects-top-page-seperation">
    <button
      class="projects-type"
      [class.selected]="selectedType === 'residenza'"
      (click)="filterProjectsByType('residenza', 3)"
    >
      {{ "projectTopSelection.0" | translate }}
    </button>
    <button
      class="projects-type"
      [class.selected]="selectedType === 'restruction'"
      (click)="filterProjectsByType('restruction', 3)"
    >
      {{ "projectTopSelection.1" | translate }}
    </button>
    <button
      class="projects-type"
      [class.selected]="selectedType === 'piscina'"
      (click)="filterProjectsByType('piscina', 3)"
    >
      {{ "projectTopSelection.2" | translate }}
    </button>
  </div>

  <div class="projects-page-body">
    <div *ngFor="let cover of filteredCovers" class="projects-page-preview">
      <img
        class="projects-page-photo"
        [alt]="'Servizi di ristrutturazione edilizia a ' + cover.location"
        [src]="cover.pics[0]"
      />
      <span class="projects-page-title">{{ cover.name }}</span>
      <span class="projects-page-view-project-button">
        {{ "projectTop.3" | translate }}</span
      >
      <button
        class="projects-page-button-go-to"
        (click)="goToSelectedProject(cover.id, cover.name)"
      >
        <span class="fatt1">&#187;</span>
      </button>
    </div>
  </div>

  <div class="button-container">
    <button
      *ngIf="hasMoreProjects()"
      class="button-view-all-project"
      (click)="loadMoreProjects()"
    >
      {{ "projectTopSelection.3" | translate }}
    </button>
  </div>
</div>
