@media (min-width: 700px) and (max-width: 1000px) {
  .projects-page-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-page-title {
    font-size: 28px;
  }
  .projects-page-view-project-button {
    font-size: 12px;
  }
  .fatt1 {
    font-size: 25px !important;
    padding: 0px 15px !important;
    font-family: Teko, sans-serif;

    transition: transform 0.3s ease, color 0.3s ease; /* Add 
    transition for smooth effect */
  }
  .projects-page {
    display: grid;
    grid-template-rows: 150px 1fr;
    margin: 0px 0px;
  }
  .projects-top-page-seperation {
    display: grid;
    grid-template-rows: 50px 50px 50px;
  }
  .projects-type {
    flex: 1;
    border-radius: 2px;
    color: rgb(8, 22, 59);
    font-size: 20px;
    font-weight: 500;
    font-family: Teko, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .selected {
    background-color: rgb(50, 50, 50);
    color: white;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .projects-page-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-page-title {
    font-size: 28px;
  }
  .projects-page-view-project-button {
    font-size: 12px;
  }
  .fatt1 {
    display: none !important;
    font-size: 20px;
  }
  .projects-pro-top-title {
    font-size: 35px;
  }
  .projects-pro-top-sub-title {
    font-size: 22px;
  }
  .projects-page {
    display: grid;
    grid-template-rows: 150px 1fr;
    margin: 0px 0px;
  }
  .projects-top-page-seperation {
    display: grid;
    grid-template-rows: 50px 50px 50px;
  }
  .projects-type {
    flex: 1;
    border-radius: 2px;
    color: rgb(8, 22, 59);
    font-size: 20px;
    font-weight: 500;
    font-family: Teko, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .selected {
    background-color: rgb(50, 50, 50);
    color: white;
  }
}

@media (max-width: 500px) {
  .projects-page-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-pro-top-title {
    font-size: 35px;
  }
  .projects-pro-top-sub-title {
    font-size: 20px;
  }
  .projects-page {
    display: grid;
    grid-template-rows: 150px 1fr;
    margin: 0px 0px;
  }
  .projects-top-page-seperation {
    display: grid;
    grid-template-rows: 50px 50px 50px;
  }
  .projects-type {
    flex: 1;
    border-radius: 2px;
    color: rgb(8, 22, 59);
    font-size: 20px;
    font-weight: 500;
    font-family: Teko, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0;
  }
  .selected {
    background-color: rgb(50, 50, 50);
    color: white;
  }
  .projects-pro-top-container {
    height: 200px;
  }
  .projects-pro-top-title {
    margin-top: -150px;
  }
}

@media (max-width: 350px) {
  .projects-page-title {
    position: absolute;
    bottom: 25%;
    left: 10%;
    font-size: 30px;
  }

  .projects-page-view-project-button {
    position: absolute;
    bottom: 10%;
    left: 8%;
    font-size: 18px;
  }
  .projects-pro-top-title {
    font-size: 35px;
  }
  .projects-pro-top-sub-title {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .projects-page {
    margin: 10px 2px;
  }
}

@media (min-width: 1700px) and (max-width: 2500px) {
  .projects-page-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .projects-page-view-project-button {
    font-size: 28px;
  }
  .fatt1 {
    font-size: 45px !important;
    padding: 2px 30px !important;
    font-family: Teko, sans-serif;
    transition: transform 0.3s ease, color 0.3s ease; /* Add 
    transition for smooth effect */
  }
  .projects-pro-top-title {
    font-size: 65px;
  }
  .projects-pro-top-sub-title {
    font-size: 42px;
  }
}
