<div class="contact-pro-top-container">
  <div class="contact-pro-top-image">
    <div class="contact-pro-top-text">
      <h1 class="contact-pro-top-title">Contattaci</h1>
      <h2 class="contact-pro-top-sub-title">
        Collaboriamo per realizzare buoni lavori.
      </h2>
    </div>
  </div>
</div>

<div class="form-flex">
  <div class="form-left">
    <img class="form-image" src="Image/Projects/pic-28.jpg" alt="" />
  </div>
  <div class="form-right">
    <div class="form-right-div js-form-right-div">
      <form
        (submit)="onSubmit(f)"
        #f="ngForm"
        method="POST"
        action="https://formspree.io/f/xbljgwpw"
      >
        <div class="form-container">
          <span class="form-name">Nome</span>
          <input
            type="text"
            placeholder="Il tuo nome"
            class="form-message-text"
            name="name"
            ngModel
            #name="ngModel"
            [class.ng-invalid]="name.invalid && name.touched"
            required
            minlength="3"
            maxlength="30"
          />
        </div>
        <div class="alert alert-error" *ngIf="name.invalid && name.touched">
          <p *ngIf="name.hasError('required')">Il nome è obbligatorio...</p>
          <p *ngIf="name.hasError('minlength')">
            Il nome deve contenere almeno 3 caratteri
          </p>
          <p *ngIf="name.hasError('maxlength')">
            Il nome non può superare i 30 caratteri
          </p>
        </div>
        <div class="form-container">
          <span class="form-email-text form-email-text-lowercase">Email</span>
          <input
            type="text"
            class="form-message-text"
            name="email"
            placeholder="La tua email"
            ngModel
            #email="ngModel"
            [class.ng-invalid]="email.invalid && email.touched"
            required
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          />
        </div>
        <div class="alert alert-error" *ngIf="email.invalid && email.touched">
          <p *ngIf="email.hasError('required')">L'email è obbligatoria...</p>
          <p *ngIf="email.hasError('pattern')">
            L'email deve avere un formato valido
          </p>
        </div>
        <div class="form-container">
          <span class="form-phone-text">Telefono</span>
          <input
            type="text"
            class="form-message-text"
            name="phoneNumber"
            placeholder="Numero di contatto"
            ngModel
            #phoneNumber="ngModel"
            [class.ng-invalid]="phoneNumber.invalid && phoneNumber.touched"
            required
            minlength="7"
            maxlength="20"
            pattern="^[0-9\s\-()]*$"
          />
        </div>
        <div
          class="alert alert-error"
          *ngIf="phoneNumber.invalid && phoneNumber.touched"
        >
          <p *ngIf="phoneNumber.hasError('required')">
            Il numero di telefono è obbligatorio...
          </p>
          <p *ngIf="phoneNumber.hasError('minlength')">
            Il numero di telefono deve contenere almeno 7 numeri
          </p>
          <p *ngIf="phoneNumber.hasError('maxlength')">
            Il numero di telefono non può superare i 20 numeri
          </p>
          <p *ngIf="phoneNumber.hasError('pattern')">
            Il numero di telefono deve avere un formato valido
          </p>
        </div>
        <div class="form-container">
          <span class="form-subject">Oggetto</span>
          <input
            type="text"
            class="form-message-text"
            name="subject"
            placeholder="Oggetto"
            ngModel
            #subject="ngModel"
            [class.ng-invalid]="subject.invalid && subject.touched"
            required
            minlength="3"
          />
        </div>
        <div
          class="alert alert-error"
          *ngIf="subject.invalid && subject.touched"
        >
          <p *ngIf="subject.hasError('required')">Oggetto è obbligatorio...</p>
          <p *ngIf="subject.hasError('minlength')">
            L'oggetto deve contenere almeno 3 caratteri
          </p>
        </div>
        <div class="form-container-text">
          <span class="form-message-title">Messaggio</span>
          <textarea
            class="form-message-text-text"
            name="message"
            cols="30"
            rows="10"
            placeholder="Il tuo messaggio"
            ngModel
            #message="ngModel"
            [class.ng-invalid]="message.invalid && message.touched"
            required
            minlength="10"
          ></textarea>
          <div
            class="alert alert-error"
            *ngIf="message.invalid && message.touched"
          >
            <p *ngIf="message.hasError('required')">
              Il messaggio è obbligatorio...
            </p>
            <p *ngIf="message.hasError('minlength')">
              Il messaggio deve contenere almeno 10 caratteri
            </p>
          </div>
        </div>
        <button [disabled]="f.invalid" type="submit" class="form-button">
          <span class="form-button-text">Invia Messaggio</span>
        </button>
        <div *ngIf="formSubmitted" class="success-message">
          Il tuo messaggio è stato inviato con successo!
        </div>
      </form>
    </div>
  </div>
</div>
<div class="contact-trio">
  <div class="contact-left-div">
    <a href="https://maps.app.goo.gl/J6HxbULMWr98d42V6" target="_blank">
      <div class="contact-logo">
        <i class="fa faw fa-map-marker-alt"></i>
      </div>
      <div class="constact-title js-constact-title">Location</div>
      <div class="contact-body">
        <span class="address3"> Cissone (CN) Via Airali 6, 12050, Italy </span>
      </div>
    </a>
  </div>
  <div class="contact-center-div">
    <a href="mailto:arrazef@gmail.com">
      <div class="contact-logo">
        <i class="fa faw fa-envelope"></i>
      </div>
      <div class="constact-title js-constact-title">Email</div>
      <div class="contact-body">
        <span class="email3">arrazef&#64;gmail.com </span>
      </div>
    </a>
  </div>
  <div class="contact-right-div">
    <a href="tel:+393494628225">
      <div class="contact-logo">
        <i class="fa faw fa-phone"></i>
      </div>
      <div class="constact-title js-constact-title">Phone</div>
      <div class="contact-body">
        <span class="phone-number3">+39 349 462 8225 </span>
      </div>
    </a>
  </div>
</div>
