<div class="contact-pro-top-container">
  <div class="contact-pro-top-image">
    <img
      class="contact-pro-top-image-img"
      src="Image/Works/construction-work-5.jpg"
      alt=""
    />

    <h1 class="contact-pro-top-title">
      {{ "contactTop.0" | translate }}
    </h1>
    <h2 class="contact-pro-top-sub-title">
      {{ "contactTop.1" | translate }}
    </h2>
  </div>
</div>

<div class="form-flex">
  <div class="form-left">
    <img class="form-image" src="Image/Projects/pic-28.jpg" alt="" />
  </div>
  <div class="form-right">
    <div class="form-right-div js-form-right-div">
      <form
        (submit)="onSubmit(f)"
        #f="ngForm"
        method="POST"
        action="https://formspree.io/f/xbljgwpw"
      >
        <div class="form-container">
          <span class="form-name">{{ "formText.0" | translate }}</span>
          <input
            type="text"
            [placeholder]="'formText.1' | translate"
            class="form-message-text"
            name="name"
            ngModel
            #name="ngModel"
            [class.ng-invalid]="name.invalid && name.touched"
            required
            minlength="3"
            maxlength="30"
          />
        </div>
        <div class="alert alert-error" *ngIf="name.invalid && name.touched">
          <p *ngIf="name.hasError('required')">
            {{ "formText.2" | translate }}
          </p>
          <p *ngIf="name.hasError('minlength')">
            {{ "formText.3" | translate }}
          </p>
          <p *ngIf="name.hasError('maxlength')">
            {{ "formText.4" | translate }}
          </p>
        </div>
        <div class="form-container">
          <span class="form-email-text form-email-text-lowercase">
            {{ "formText.5" | translate }}</span
          >
          <input
            type="text"
            class="form-message-text"
            name="email"
            [placeholder]="'formText.6' | translate"
            ngModel
            #email="ngModel"
            [class.ng-invalid]="email.invalid && email.touched"
            required
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          />
        </div>
        <div class="alert alert-error" *ngIf="email.invalid && email.touched">
          <p *ngIf="email.hasError('required')">
            {{ "formText.7" | translate }}
          </p>
          <p *ngIf="email.hasError('pattern')">
            {{ "formText.8" | translate }}
          </p>
        </div>
        <div class="form-container">
          <span class="form-phone-text"> {{ "formText.9" | translate }}</span>
          <input
            type="text"
            class="form-message-text"
            name="phoneNumber"
            [placeholder]="'formText.10' | translate"
            ngModel
            #phoneNumber="ngModel"
            [class.ng-invalid]="phoneNumber.invalid && phoneNumber.touched"
            required
            minlength="7"
            maxlength="20"
            pattern="^[0-9\s\-()]*$"
          />
        </div>
        <div
          class="alert alert-error"
          *ngIf="phoneNumber.invalid && phoneNumber.touched"
        >
          <p *ngIf="phoneNumber.hasError('required')">
            {{ "formText.11" | translate }}
          </p>
          <p *ngIf="phoneNumber.hasError('minlength')">
            {{ "formText.12" | translate }}
          </p>
          <p *ngIf="phoneNumber.hasError('maxlength')">
            {{ "formText.13" | translate }}
          </p>
          <p *ngIf="phoneNumber.hasError('pattern')">
            {{ "formText.14" | translate }}
          </p>
        </div>
        <div class="form-container">
          <span class="form-subject"> {{ "formText.15" | translate }}</span>
          <input
            type="text"
            class="form-message-text"
            name="subject"
            [placeholder]="'formText.16' | translate"
            ngModel
            #subject="ngModel"
            [class.ng-invalid]="subject.invalid && subject.touched"
            required
            minlength="3"
          />
        </div>
        <div
          class="alert alert-error"
          *ngIf="subject.invalid && subject.touched"
        >
          <p *ngIf="subject.hasError('required')">
            {{ "formText.17" | translate }}
          </p>
          <p *ngIf="subject.hasError('minlength')">
            {{ "formText.18" | translate }}
          </p>
        </div>
        <div class="form-container-text">
          <span class="form-message-title">
            {{ "formText.19" | translate }}</span
          >
          <textarea
            class="form-message-text-text"
            name="message"
            cols="30"
            rows="10"
            [placeholder]="'formText.20' | translate"
            ngModel
            #message="ngModel"
            [class.ng-invalid]="message.invalid && message.touched"
            required
            minlength="10"
          ></textarea>
          <div
            class="alert alert-error"
            *ngIf="message.invalid && message.touched"
          >
            <p *ngIf="message.hasError('required')">
              {{ "formText.21" | translate }}
            </p>
            <p *ngIf="message.hasError('minlength')">
              {{ "formText.22" | translate }}
            </p>
          </div>
        </div>
        <button [disabled]="f.invalid" type="submit" class="form-button">
          <span class="form-button-text"> {{ "formText.23" | translate }}</span>
        </button>
        <div *ngIf="formSubmitted" class="success-message">
          {{ "formText.24" | translate }}
        </div>
      </form>
    </div>
  </div>
</div>
<div class="contact-trio">
  <div class="contact-left-div">
    <a href="https://maps.app.goo.gl/9zE6GiUi78uFi5P69" target="_blank">
      <div class="contact-logo">
        <i class="fa faw fa-map-marker-alt"></i>
      </div>
      <div class="constact-title js-constact-title">
        {{ "contactMeth.0" | translate }}
      </div>
      <div class="contact-body">
        <span class="address3"> Cissone (CN) Via Airali 6, 12050, Italy </span>
      </div>
    </a>
  </div>
  <div class="contact-center-div">
    <a href="mailto:arrazef@gmail.com">
      <div class="contact-logo">
        <i class="fa faw fa-envelope"></i>
      </div>
      <div class="constact-title js-constact-title">
        {{ "contactMeth.1" | translate }}
      </div>
      <div class="contact-body">
        <span class="email3">arrazef&#64;gmail.com </span>
      </div>
    </a>
  </div>
  <div class="contact-right-div">
    <a href="tel:+393494628225">
      <div class="contact-logo">
        <i class="fa faw fa-phone"></i>
      </div>
      <div class="constact-title js-constact-title">
        {{ "contactMeth.2" | translate }}
      </div>
      <div class="contact-body">
        <span class="phone-number3">+39 349 462 8225 </span>
      </div>
    </a>
  </div>
</div>
