.services-top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  position: relative;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
}

.service-top-image {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("/Image/Logos/service-photo-6.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-top-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.service-top-image:hover {
  background-color: rgba(0, 0, 0, 0);
}

.service-top-title {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 1s ease-out 0.5s forwards;
}

.service-top-sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin: 10px 0;
  text-align: center;
  z-index: 2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 1s ease-out 0.7s forwards;
}

.service-top-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  text-align: center;
  z-index: 2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 1s ease-out 0.9s forwards;
}

.service-body-container {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
  background-color: whitesmoke;
  row-gap: 40px;
}

.service-body-type-flex {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 10px 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.service-body-type-flex:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.9);
}

.service-body-left {
  flex: 2;
  padding: 10px 20px;
}

.service-body-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  opacity: 0;
  transform: translateY(50%);
  animation: slideUp 1s ease-out 1s forwards;
}

.service-body-right:hover {
  transform: scale(1.05);
}

.service-body-title {
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.service-body-right-body {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-size: auto;
}

.service-image-type {
  width: 100%;
  height: 200px;
  border-radius: 5%;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
