<div class="services-top-container">
  <div class="service-top-image">
    <div class="service-top-text">
      <div class="service-top-title">I Nostri Servizi</div>
      <h1 class="service-top-sub-title">Creare Spazi, Costruire Futuri</h1>
      <h2 class="service-top-subtitle">
        Dalle nuove costruzioni ai restauri, offriamo servizi che realizzano la
        tua visione con precisione e passione.
      </h2>
    </div>
  </div>
</div>
<div class="service-body-container">
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-5.jpg" />
    </div>
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">Costruzione</h1>
      <div class="service-body-right-body js-service-body-right-body">
        Offriamo servizi completi di costruzione, combinando abilmente
        l'artigianato tradizionale con tecniche moderne per realizzare progetti
        residenziali, commerciali e su misura di alta qualità, garantendo il
        rispetto dei tempi e del budget. Ci concentriamo sulla creazione di
        strutture durevoli ed esteticamente piacevoli che rispecchino la tua
        visione.
      </div>
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">Restauro</h1>
      <div class="service-body-right-body js-service-body-right-body">
        Restauriamo edifici storici con maestria, preservando il loro fascino
        originale e aggiornandoli agli standard moderni di sicurezza, efficienza
        energetica e comfort, assicurando la loro bellezza e funzionalità a
        lungo termine. Il nostro team è dedicato a onorare il passato, creando
        al contempo spazi per il futuro.
      </div>
    </div>
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-4.jpg" />
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-1.jpg" />
    </div>
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">Ristrutturazione</h1>
      <div class="service-body-right-body js-service-body-right-body">
        I nostri servizi di ristrutturazione coprono tutto, da piccoli
        aggiornamenti a trasformazioni complete, fondendo la tua visione con la
        nostra competenza per creare spazi moderni e duraturi nel design.
        Lavoriamo a stretto contatto con te per garantire che ogni dettaglio sia
        allineato ai tuoi obiettivi, producendo un risultato finale
        straordinario.
      </div>
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">Chiavi in Mano</h1>
      <div class="service-body-right-body js-service-body-right-body">
        La nostra soluzione chiavi in mano gestisce l'intero processo di
        costruzione o ristrutturazione dall'inizio alla fine, occupandosi di
        tutti i dettagli affinché tu possa entrare in un progetto completamente
        finito senza stress o difficoltà. Ci occupiamo di ogni aspetto, dalla
        pianificazione all'esecuzione, garantendo un'esperienza senza soluzione
        di continuità.
      </div>
    </div>
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-2.jpg" />
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-logo-12.jpg" />
    </div>
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        Noleggio Ponteggi in Ferro
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        Offriamo noleggio di ponteggi in ferro di alta qualità per progetti di
        costruzione di qualsiasi dimensione. Le nostre soluzioni di ponteggio
        garantiscono sicurezza e stabilità per lavoratori e materiali a
        qualsiasi altezza. Con termini di noleggio flessibili e installazione
        professionale, supportiamo le tue esigenze di costruzione con
        attrezzature affidabili e un servizio eccellente
      </div>
    </div>
  </div>

  <div class="service-body-type-flex">
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        Demolizione Strutture
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        Il nostro servizio di demolizione edifici offre soluzioni sicure ed
        efficienti per la demolizione di strutture residenziali e commerciali.
        Garantiamo un processo controllato e sistematico, rispettando le
        normative ambientali e preparando il sito per futuri progetti. Il nostro
        team esperto gestisce tutte le fasi della demolizione, dalla
        pianificazione alla rimozione dei detriti
      </div>
    </div>
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-logo-13.png" />
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-3.jpg" />
    </div>
    <div class="service-body-right">
      <div class="service-body-title js-service-body-title">Manutenzione</div>
      <div class="service-body-right-body js-service-body-right-body">
        Il nostro team offre servizi di manutenzione completi, dalle ispezioni
        alle riparazioni, agli aggiornamenti e alla cura del giardino, inclusa
        la creazione di composizioni di giardini e l'automazione dei sistemi di
        irrigazione per mantenere la tua proprietà e gli spazi esterni in
        condizioni perfette. Garantiamo che la tua proprietà rimanga sicura,
        efficiente e visivamente gradevole, prevenendo potenziali problemi prima
        che si aggravino.
      </div>
    </div>
  </div>
</div>
