<div class="services-top-container">
  <div class="service-top-image">
    <img
      class="service-top-image-img"
      src="Image/Logos/service-photo-6.jpg"
      alt=""
    />

    <div class="service-top-title">
      {{ "serviceTop.0" | translate }}
    </div>
    <h1 class="service-top-sub-title">
      {{ "serviceTop.1" | translate }}
    </h1>
    <h2 class="service-top-subtitle">
      {{ "serviceTop.2" | translate }}
    </h2>
  </div>
</div>
<div class="service-body-container">
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-5.jpg" />
    </div>
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.0" | translate }}
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.0" | translate }}
      </div>
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.1" | translate }}
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.1" | translate }}
      </div>
    </div>
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-4.jpg" />
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-1.jpg" />
    </div>
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.2" | translate }}
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.2" | translate }}
      </div>
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.3" | translate }}
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.3" | translate }}
      </div>
    </div>
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-2.jpg" />
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-logo-12.jpg" />
    </div>
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.4" | translate }}
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.4" | translate }}
      </div>
    </div>
  </div>

  <div class="service-body-type-flex">
    <div class="service-body-right">
      <h1 class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.5" | translate }}
      </h1>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.5" | translate }}
      </div>
    </div>
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-logo-13.png" />
    </div>
  </div>
  <div class="service-body-type-flex">
    <div class="service-body-left">
      <img class="service-image-type" src="Image/Logos/services-phtot-3.jpg" />
    </div>
    <div class="service-body-right">
      <div class="service-body-title js-service-body-title">
        {{ "serviceTextTitle.6" | translate }}
      </div>
      <div class="service-body-right-body js-service-body-right-body">
        {{ "serviceTextBody.6" | translate }}
      </div>
    </div>
  </div>
</div>
