@media (max-width: 380px) {
  .footer-div-grid {
    grid-template-rows: 1fr 50px;
    height: 100%;
  }

  .footer-top-container {
    display: grid;
    grid-template-rows: 1fr;
  }

  .footer-bottom-container {
    width: 100%;
  }
  .footer-top-container {
    display: grid;
    grid-template-rows: 300px 250px 250px 340px;
  }
  .footer-right-menu-title,
  .footer-right-titile,
  .footer-center-titile {
    padding: 0;
  }
  .footer-right-menu-title {
    margin-bottom: 0%;
  }
  .footer-left-photo-logo-1,
  .footer-left-photo-logo-2 {
    top: 0;
    left: 10%;
    width: 250px;
  }
  .footer-left-container-title {
    font-size: 35px !important;
    text-align: center;
  }

  .fat1 {
    top: -135%;
    left: 35%;
  }
  .fat2 {
    top: -150%;
  }
  .footer-bottom-left,
  .footer-bottom-right,
  .freepik {
    font-size: 7px;
    text-align: center;
  }
}
@media (min-width: 381px) and (max-width: 680px) {
  .footer-div-grid {
    grid-template-rows: 1fr 50px;
    height: 100%;
  }

  .footer-top-container {
    display: grid;
    grid-template-rows: 1fr;
  }

  .footer-bottom-container {
    width: 100%;
  }
  .footer-top-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .footer-left-container,
  .footer-center-container,
  .footer-right-container,
  .footer-right-menu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .footer-left-photo-container {
    flex: 1;
    width: 90%;
  }
  .footer-right-menu-title,
  .footer-right-titile,
  .footer-center-titile {
    padding: 0;
    margin-bottom: 20px;
  }
  .footer-left-container-photo-div {
    height: 20%;
    max-height: 100%;
  }

  .footer-left-photo-logo-1 {
    height: 100%;
  }

  .footer-left-photo-logo-1,
  .footer-left-photo-logo-2 {
    top: 0;
    left: 15%;
  }
  .footer-left-container-title {
    font-size: 45px;
    text-align: center;
  }

  .fat1 {
    top: -135%;
    left: 35%;
  }
  .fat2 {
    top: -150%;
    left: 50%;
  }
  .footer-bottom-left,
  .footer-bottom-right,
  .freepik {
    font-size: 8px;
    text-align: center;
  }
}
@media (min-width: 680px) and (max-width: 960px) {
  .footer-top-container {
    padding: 15px 40px;
  }
  .footer-div-grid {
    grid-template-rows: 1fr 40px;
    height: 370px;
    padding-bottom: 0;
  }
  .footer-left-photo-logo-2 {
    width: 180px;
    top: 20%;
    left: -3%;
  }
  .footer-left-photo-logo-1 {
    width: 180px;
    top: 20%;
    left: -1%;
  }
  .footer-left-container-title {
    font-size: 30px;
    left: 0;
  }
  .footer-left-container-photo-div {
    flex: 1;
  }
  .footer-left-photo-container {
    max-height: 150px;
  }
  .footer-center-titile,
  .footer-right-titile,
  .footer-right-menu-title,
  .footer-left-container-title {
    font-size: 20px;
  }
  .footer-left-items {
    padding-top: 20px;
  }
  .footer-center-contact-email {
    padding-right: 0;
    margin-left: 0;
  }
  .email,
  .phone-number2,
  .footer-left-container-location,
  .footer-right-menu-body-text-text {
    font-size: 19px !important;
    margin-left: 0;
  }
  .footer-right-menu-body {
    flex: 2;
  }
  .footer-center-contact-phone,
  .phone-number2,
  .footer-center-contact-email,
  .fas {
    font-size: 19px;
    padding-right: 5px;
  }
  .footer-left-container-title-spa {
    font: 12px Teko;
  }
}

@media (min-width: 1350px) and (max-width: 1500px) {
  .footer-center-titile,
  .footer-right-titile,
  .footer-right-menu-title,
  .footer-left-container-title {
    font-size: 35px;
    padding-top: 0;
  }
  .footer-right-menu-body-text-text,
  .footer-left-container-location,
  .phone-number2,
  .email {
    font-size: 30px;
  }
  .footer-right-menu-body {
    margin-top: 20px;
  }
  .fat1 {
    top: 4.25%;
    left: 15%;
    padding: 6px 10px;
  }
  .fat2 {
    top: 0;
    left: 30%;
    padding: 10px 10px;
  }
  .footer-right-menu-title {
    flex: 0.4;
  }
}

@media (min-width: 961px) and (max-width: 1340px) {
  .footer-top-container {
    padding: 15px 40px;
  }
  .footer-div-grid {
    grid-template-rows: 1fr 40px;
    height: 370px;
    padding-bottom: 0;
  }
  .footer-left-photo-logo-2 {
    width: 200px;
    top: 20%;
    left: -1%;
  }
  .footer-left-photo-logo-1 {
    width: 200px;
    top: 20%;
    left: -1%;
  }
  .footer-left-container-title {
    font-size: 25px;
    left: 0;
  }
  .footer-left-container-title-spa {
    font: 20px Teko;
  }
  .footer-center-titile,
  .footer-right-titile,
  .footer-right-menu-title {
    font-size: 29px;
  }
  .footer-center-contact-email {
    padding-right: 0;
    margin-left: 0;
  }
  .email,
  .phone-number2,
  .footer-left-container-location,
  .footer-right-menu-body-text-text {
    font-size: 19px !important;
    margin-left: 0;
  }
  .footer-right-menu-body {
    flex: 2;
  }
}

@media (min-width: 1701px) and (max-width: 3000px) {
  .footer-div-grid {
    height: auto;
  }
  .footer-center-titile,
  .footer-right-titile,
  .footer-right-menu-title,
  .footer-left-container-title {
    font-size: 50px;
    padding-top: 0;
  }
  .footer-right-menu-body-text-text,
  .footer-left-container-location,
  .phone-number2,
  .email {
    font-size: 40px;
  }
  .footer-right-menu-body {
    margin-top: 20px;
  }
  .fat1 {
    top: 4.25%;
    left: 15%;
    padding: 6px 10px;
  }
  .fat2 {
    top: 0;
    left: 30%;
    padding: 10px 10px;
  }
  .footer-left-container-photo-div {
    max-height: 60%;
  }
}
@media (min-width: 1701px) and (max-width: 2000px) {
  .footer-left-container-photo-div {
    max-height: 150px;
  }
}
