<header>
  <div class="home-header">
    <div class="home-header-top-selection">
      <div class="home-header-top-selection-items">
        <button class="flag js-flag-1" (click)="translatText('en')">
          <img
            class="flag-1"
            src="Image/Logos/flag-uk.svg"
            alt="english-flag-logo"
          />
        </button>
        <button class="flag2 js-flag-2" (click)="translatText('it')">
          <img
            class="flag-2"
            src="Image/Logos/flag-it.svg"
            alt="italian-flag-logo"
          />
        </button>
        <a href="tel:+393494628225" class="phone-number">+39 349 462 8225</a>

        <a
          href="https://www.instagram.com/arra_costruzioni?igsh=MW5ra3doY3NzZjZyZw=="
          target="_blank"
          class="fab fa-instagram f2"
        ></a>
      </div>
    </div>
    <div class="home-left-and-right-header">
      <div class="home-header-left-selection">
        <a [routerLink]="['/home']" class="logo-link">
          <div class="logo-photos">
            <img class="arra-zef-logo-1" src="Image/Logos/Logo-6.gif" />
            <img class="arra-zef-logo-2" src="Image/Logos/Logo-4.gif" />
          </div>
        </a>
      </div>

      <div class="home-header-right-selection">
        <a class="header-link" [routerLink]="['/home']">
          <span class="about-text js-about-text">
            {{ "menuButtons.0" | translate }}
          </span>
        </a>

        <a class="header-link" [routerLink]="['/about']">
          <span class="about-text js-about-text">
            {{ "menuButtons.1" | translate }}</span
          >
        </a>
        <a class="header-link" [routerLink]="['/projects']">
          <span class="about-text js-about-text">
            {{ "menuButtons.2" | translate }}</span
          >
        </a>

        <a class="header-link" [routerLink]="['/service']">
          <span class="services-text js-about-text">
            {{ "menuButtons.3" | translate }}</span
          >
        </a>
        <a class="header-link" [routerLink]="['/contact']">
          <span class="contact-text js-about-text">
            {{ "menuButtons.4" | translate }}</span
          >
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet
    basename="/ArraZef-Ang"
    (activate)="onActivate($event)"
  ></router-outlet>
</main>
<footer>
  <div class="footer-div-grid">
    <div class="footer-top-container">
      <div class="footer-left-container">
        <div class="footer-left-items">
          <div class="footer-left-photo-container">
            <div class="footer-left-container-photo-div">
              <img
                class="footer-left-photo-logo-1"
                src="Image/Logos/Logo-4.png"
              />
            </div>

            <h1 class="footer-left-container-title">Arra Costruzioni SRL</h1>
          </div>
          <div class="footer-left-container-title-body">
            <h1 class="footer-left-container-title-spa">P.IVA 03954990044</h1>
          </div>

          <div class="footer-left-container-insta-fb">
            <!--   <a
                href="https://www.facebook.com"
                target="_blank"
                class="social-icon facebook"
              >
                <i class="fab fa-facebook-f fat1"></i>
              </a>-->
            <a
              href="https://www.instagram.com"
              target="_blank"
              class="social-icon instagram"
            >
              <i class="fab fa-instagram fat2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-center-container">
        <div class="footer-center-titile js-footer-center-titile">
          {{ "contactUSTitle" | translate }}
          <div class="footer-line"></div>
        </div>
        <div class="footer-center-body">
          <div class="footer-center-contact-phone">
            <i class="fa fa-phone"></i>
            <a href="tel:+393494628225" class="phone-number2"
              >+39 349 462 8225</a
            >
          </div>
          <div class="footer-center-contact-email">
            <i class="fa fa-envelope"></i>
            <a href="mailto:arrazef@gmail.com" class="email"
              >arrazef&#64;gmail.com</a
            >
          </div>
        </div>
      </div>
      <div class="footer-right-container">
        <div class="footer-right-titile">
          {{ "addressTitle" | translate }}
          <div class="footer-line"></div>
        </div>
        <div class="footer-right-body">
          <i class="fa fa-map-marker-alt"></i>
          <a href="https://maps.app.goo.gl/9zE6GiUi78uFi5P69" target="_blank">
            <span class="footer-left-container-location"
              >Cissone (CN) Via Airali 6, 12050, Italy</span
            >
          </a>
        </div>
      </div>
      <div class="footer-right-menu-container">
        <div class="footer-right-menu-title">
          {{ "companyTitle" | translate }}
          <div class="footer-line"></div>
        </div>

        <div class="footer-right-menu-body">
          <div class="footer-right-menu-body-text-items">
            <div class="footer-right-menu-body-text">
              <a [routerLink]="['/home']">
                <span class="footer-right-menu-body-text-arrow">&#707; </span>
                <span class="footer-right-menu-body-text-text">{{
                  "menuButtons.0" | translate
                }}</span>
              </a>
            </div>
            <div class="footer-right-menu-body-text">
              <a [routerLink]="['/about']"
                ><span class="footer-right-menu-body-text-arrow">&#707; </span>
                <span class="footer-right-menu-body-text-text">{{
                  "menuButtons.1" | translate
                }}</span></a
              >
            </div>
            <div class="footer-right-menu-body-text">
              <a [routerLink]="['/projects']">
                <span class="footer-right-menu-body-text-arrow">&#707; </span>
                <span class="footer-right-menu-body-text-text">{{
                  "menuButtons.2" | translate
                }}</span></a
              >
            </div>
            <div class="footer-right-menu-body-text">
              <a [routerLink]="['/services']">
                <span class="footer-right-menu-body-text-arrow">&#707; </span>
                <span class="footer-right-menu-body-text-text">{{
                  "menuButtons.3" | translate
                }}</span></a
              >
            </div>
            <div class="footer-right-menu-body-text">
              <a [routerLink]="['/contact']"
                ><span class="footer-right-menu-body-text-arrow">&#707; </span>
                <span class="footer-right-menu-body-text-text">{{
                  "menuButtons.4" | translate
                }}</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-container">
      <div class="footer-bottom-left js-footer-bottom-left">
        &copy; {{ "copyRight.0" | translate }}
        <a class="freepik" href="https://www.freepik.com" target="_blank">
          Freepik</a
        >
      </div>
      <div class="line-copyright"></div>
      <div class="footer-bottom-right js-footer-bottom-right">
        {{ "copyRight.1" | translate }}
      </div>
    </div>
  </div>
</footer>
<!-- 
<button (click)="translatText('en')">English</button>
<button (click)="translatText('it')">Italian</button>

<h1>{{ "projectLoc" | translate }}</h1> -->
