.home-header {
  background-color: rgb(255, 255, 255);
  color: black;
  display: grid;
  grid-template-columns: 540px 1fr;
  align-items: center;
  height: 120px;
  z-index: 200;
}

.home-header-top-selection {
  grid-column: 1 / span 2;
  height: 40px;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: row;

  justify-content: end;
}
.home-header-top-selection-items {
  display: flex;
  flex-direction: row;
  width: 360px;
  align-items: center;
}
.home-left-and-right-header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 2;
}

.logo-link {
  display: contents;
}

.home-header-left-selection {
  height: 80px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.home-header-right-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  width: 1000px;
  min-width: 200px;
}

.logo-photos {
  width: 280px;
  height: 80px;
  position: relative;
}

.arra-zef-logo-1,
.arra-zef-logo-2 {
  position: absolute;
  width: 150px; /* Adjusted for smaller screens */
  height: 80px;
  object-fit: cover;
}

.arra-zef-logo-1 {
  left: 0;
  top: 8px;
}

.arra-zef-logo-2 {
  left: 0;
  top: 6px;
}

.header-link {
  cursor: pointer;
  text-decoration: none;
  padding: 15px 25px;
  opacity: 0.8;
}

.services-text,
.projetct-text,
.about-text,
.contact-text {
  color: rgb(89, 77, 72);
  font-size: 20px !important;
  text-align: center;
  font-weight: 500;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  transition: border-radius 0.5s, background-color 1.5s;
  text-wrap: nowrap;
}
.services-text:hover,
.projetct-text:hover,
.about-text:hover,
.contact-text:hover {
  color: rgb(253, 185, 39); /* Change text color on hover */
  transform: translate(50px, 0) scale(1.5); /* Move text 50px to the right and zoom it to 150% */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.fab {
  width: 40px;
  font-size: 60px;
  height: 30px !important;
  padding: 10px 0px 0px 0px;
  color: wheat;
  text-align: center;
  border-width: 3px;
  border-color: brown;
  transition: background-color 1s;
  text-decoration: none;
  text-align: center;
}
.flag,
.flag2 {
  height: 25px;
  width: 50px;
  padding: 0;
  margin: 5px;
}
.flag:focus,
.flag2:focus {
  border-color: white;
  border-width: 1px;
  padding: 2px;
}
.flag {
  right: 17%;
  top: 1%;
}

.flag2 {
  right: 21%;
  top: 1%;
}
.flag-1,
.flag-2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*
.f1 {
  top: 6px;
  right: 2%;
  border-radius: 100%;
}*/

.f2 {
  border-radius: 10px;

  border-color: wheat;
  border-width: 2px;
}
/*
.f1:hover {
  background-color: blue;
  border-radius: 100%;
}*/
.f2:hover {
  background-color: rgb(209, 87, 108);
  border-radius: 100%;
}
.phone-number {
  width: 175px;
  right: 5%;
  top: 1%;
  color: wheat;
  text-decoration: none;
  text-align: center;
}
.phone-number:hover {
  cursor: pointer;
}
