<div class="selected-project js-selected-project">
  <div class="selected-project-left-container">
    <span class="selected-project-left-title">{{ matchingProject?.name }}</span>
    <span
      class="selected-project-left-location js-selected-project-left-location"
    >
      Luogo:
      <span class="selected-project-left-location-text">{{
        matchingProject?.location
      }}</span>
    </span>
    <a class="selected-project-left-location">
      <button
        [routerLink]="['/projects']"
        class="selected-project-left-all-projects-button"
      >
        <i aria-hidden="true" class="fatt8 fas fa-angle-double-left"></i>
        <span
          class="selected-project-left-all-projects js-selected-project-left-all-projects"
          >Tutti i progetti</span
        >
      </button>
    </a>
  </div>

  <div class="selected-project-right-container">
    <div
      class="selected-project-right-top-container js-selected-project-right-top-container"
    >
      <button
        class="top-left-button-slider js-top-left-button-slider"
        (click)="navigateImages('previous')"
        (keydown)="handleKeydown($event)"
        tabindex="0"
      >
        <i aria-hidden="true" class="fatt4 fas fa-angle-left"></i>
      </button>
      <img
        (click)="enterFullscreen()"
        class="choosed-pic"
        alt="Servizi di ristrutturazione edilizia a {{
          matchingProject?.location
        }} - Building Renovation Services in {{ matchingProject?.location }}"
        [src]="matchingProject?.pics[selectedImageIndex]"
      />
      <button
        class="top-right-button-slider js-top-right-button-slider"
        (click)="navigateImages('next')"
        (keydown)="handleKeydown($event)"
        tabindex="0"
      >
        <i aria-hidden="true" class="fatt4 fas fa-angle-right"></i>
      </button>
    </div>

    <div class="selected-project-right-bottom-container">
      <button
        class="bottom-left-button-slider js-bottom-left-button-slider"
        (click)="scrollImages('left')"
      >
        <i aria-hidden="true" class="fatt6 fas fa-angle-left"></i>
      </button>
      <div class="bottom-right-pic-container js-bottom-right-pic-container">
        <img
          *ngFor="let pic of matchingProject?.pics; let i = index"
          class="unselected-pic"
          [src]="pic"
          [attr.data-index]="i"
          (click)="selectImage(i)"
        />
      </div>
      <button
        class="bottom-right-button-slider js-bottom-right-button-slider"
        (click)="scrollImages('right')"
      >
        <i aria-hidden="true" class="fatt5 fas fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>
