.grid-images {
  position: relative;
  margin-top: 0px;
  height: 700px;
  width: 100%;
}

.photo-size {
  width: 100%;
  height: 100%;
}

.slogan-text {
  position: absolute;
  top: 40%;
  left: 10%;
  right: 55%;
  transform: translate(-15%, -25%);
  color: white;
  font-family: Teko, sans-serif;
  font-size: 90px;
  font-weight: bold;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: left;
  cursor: pointer;
}

.firs-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 40px 30px;
  padding: 20px 10px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.first-photo-div-info {
  flex: 1;
  position: relative;
  align-items: center;
}

.first-photo-info {
  width: 100%;
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.5);
}

.first-photo-bricks {
  position: absolute;
  height: 200px;
  bottom: -10%;
  left: -4%;
}

.firs-text-info {
  margin: 10px 40px;
}

.firs-text-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 40px;
}

.text-body {
  display: flex;
  flex-direction: column;
}

.text-line {
  width: 10px;
  height: 400px;
  background-color: rgb(50, 50, 50);
  border-radius: 4px;
}

.text-title {
  flex: 1;
  font-family: Teko, sans-serif;
  font-size: 35px;
  color: rgb(8, 22, 59);
  font-weight: 600;
  text-align: start;
  padding: 20px 0 0 0;
  line-height: 40px;
}

.text-body-info {
  flex: 3;
  font-family: Teko, sans-serif;
  padding-top: 20px;
  color: rgb(8, 22, 59);
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
}
.statistic-info {
  padding: 64px 40px 96px 40px;
}

.statistics-grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inside-div-statistic-grid {
  width: 280px;
  height: 144px;
  display: grid;
  grid-template-rows: 70px 1fr;
  padding: 0 5px 0 20px;
}
.statistic-line {
  background-color: rgb(107, 110, 122);
  width: 1px;
  height: 140px;
  opacity: 0.7;
  border-radius: 100%;
}
.statistics-value {
  display: contents;
}
.statistics-text {
  display: contents;
  height: 69px;
}
.statistics-value-text {
  font-size: 69px;
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: rgb(8, 22, 59);
  text-align: center;
}
.statistics-text {
  font-size: 16px;
  font-weight: 500;
  color: rgb(107, 110, 122);
  text-align: center;
  padding-top: 40px;
}

.projects {
  display: grid;
  grid-template-rows: 150px 1fr;
}
.recent-projects-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 2px;
}

.title-cover {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-cover {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-view-all-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-view-all {
  background-color: rgb(255, 193, 42);
  color: rgb(8, 22, 59);
  font-size: 18px;
  font-weight: 500;
  font-family: Teko, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
}

.button-view-all-text {
  padding-right: 10px;
  font-size: 25px;
}

.title-cover-text {
  color: rgb(8, 22, 59);
  font-size: 51px;
  font-family: Teko, sans-serif;
  padding-left: 20%;
}

.recent-projects-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.recent-projects-preview {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  max-height: 351px;
}
/* .recent-projects-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  max-height: 351px;
} */
.recent-projects-preview:hover {
  opacity: 0.8;
}

.recent-project-photo {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  display: block;
  z-index: 0;
  object-fit: cover;
  object-position: 50% 65%;
}
.recent-project-photo:hover {
  transform: scale(1.12); /* Zoom in by 10% */
}

.recent-project-title {
  position: absolute;
  bottom: 25%;
  left: 10%;
  transform: translate(-10%, 50%);
  font-size: 30px;
  color: white; /* Correct color code */
  font-family: Teko, sans-serif;
  font-weight: 500;
  z-index: 2;
}

.recent-project-view-project-button {
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size: 20px;
  color: white;
  font-family: Teko, sans-serif;
  cursor: pointer;
  z-index: 2;
}

.recent-project-view-project-button:hover {
  color: rgb(255, 193, 42);
}
.services-grid {
  width: 1fr;
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 100px;
}
.services-uper-title-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.services-uper-title {
  flex: 1;
  color: rgb(8, 22, 59);
  font-size: 50px;
  font-weight: 500;
  font-family: Teko, sans-serif;
  text-align: center;
  align-self: center;
}
.services-kind-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}
.service-kind-items {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;

  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 400px;
  height: 200px;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.4);
  color: rgb(8, 22, 59);
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}
.service-kind-items-construction-img::before {
  content: "";

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.service-kind-items-construction-img {
  flex: 1;
  height: 100%;
  width: 100%;
  padding-top: 3px;
  opacity: 0;
  filter: brightness(50%);
  transition: opacity 0.3s ease;
  border-radius: 10px;
}
.service-kind-items:hover .service-kind-items-construction-img {
  opacity: 1;
  color: white;
}

.service-kind-items:hover {
  color: white;
}
.service-kind-items-photo {
  width: 70px;
  height: 100%;
  border-radius: 20%;
  background-color: transparent;
  margin-right: 15px;
  margin-top: -200px;
}
.services-kind-up-text {
  font-size: 35px;
  font-family: Teko, sans-serif;
  text-align: center;
  text-align: center;
  line-height: 1.2;
  z-index: 4;
}
.services-line {
  display: none;
}
.services-kind-up-text-text {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  text-align: center;
  padding: 5px 20px 20px 20px;
  text-align: center;
  line-height: 1.2;
  z-index: 4;
}
.fas {
  font-size: 25px;
  font-family: Teko, sans-serif;
  color: rgb(37, 25, 0);
  padding-right: 10px;
}
.fatt1 {
  font-size: 34px;
}
