<div class="grid-images">
  <img
    class="photo-size"
    src="Image/Projects/pictures-of-pic-1/pic-6.jpg"
    alt="Arra Zef Home And Photo Logo House"
  />
  <div class="slogan-text">
    {{ "slogan.0" | translate }} <br />

    {{ "slogan.1" | translate }}
  </div>
</div>
<div class="firs-info">
  <div class="first-photo-div-info">
    <img
      class="first-photo-info"
      src="Image/Works/Construction-workers-1.jpg"
    />
    <img class="first-photo-bricks" src="Image/Works/home-pic-1.png" alt="" />
  </div>

  <div class="firs-text-grid">
    <div class="text-body">
      <h1 class="text-title js-text-title">
        {{ "textTitle" | translate }}
      </h1>
      <div class="text-body-info js-text-body-info">
        {{ "bodyText" | translate }}
      </div>
    </div>
  </div>
</div>
<!-- <div class="statistic-info">
  <div class="statistics-grid">
    <div class="inside-div-statistic-grid js-statistics-section">
      <div class="statistics-value">
        <span class="statistics-value-text js-years-experience"></span>
      </div>
      <div class="statistics-text">
        <span class="statistics-text-text js-statistics-text-text"
          >Anni di esperienza nel settore delle costruzioni</span
        >
      </div>
    </div>
    <div class="statistic-line"></div>
    <div class="inside-div-statistic-grid">
      <div class="statistics-value">
        <span class="statistics-value-text js-employers-over-the-years"></span>
      </div>
      <div class="statistics-text">
        <span class="statistics-text-text js-statistics-text-text"
          >Datore di lavoro con oltre 25 anni di esperienza</span
        >
      </div>
    </div>
    <div class="statistic-line"></div>
    <div class="inside-div-statistic-grid">
      <div class="statistics-value">
        <span class="statistics-value-text js-residential-complete"></span>
      </div>
      <div class="statistics-text">
        <span class="statistics-text-text js-statistics-text-text"
          >Premises residenziali completati in anni.</span
        >
      </div>
    </div>
    <div class="statistic-line"></div>
    <div class="inside-div-statistic-grid">
      <div class="statistics-value">
        <span
          class="statistics-value-text js-millions-investment-complete"
        ></span>
      </div>
      <div class="statistics-text">
        <span class="statistics-text-text js-statistics-text-text"
          >Valore di milioni di dollari sugli investimenti</span
        >
      </div>
    </div>
  </div>
</div> -->
<div class="projects">
  <div class="recent-projects-top">
    <div class="title-cover">
      <h1 class="title-cover-text js-title-cover-text">
        {{ "recentText.0" | translate }}
      </h1>
    </div>
    <div class="button-cover">
      <a class="button-view-all-link" [routerLink]="['/projects']">
        <button class="button-view-all">
          <span class="button-view-all-text js-button-view-all-text">
            {{ "recentText.1" | translate }}</span
          >

          <span class="fatt1">&#187;</span>
        </button></a
      >
    </div>
  </div>
  <div class="recent-projects-body js-recent-projects-body">
    <div
      *ngFor="let cover of covers | slice : 0 : 6; let i = index"
      class="recent-projects-preview"
      [attr.data-cover-id]="cover.id"
      (click)="navigateToProject(cover.id, cover.name)"
    >
      <img
        class="recent-project-photo"
        [alt]="
          'Servizi di ristrutturazione edilizia a ' +
          cover.location +
          ' - Building Renovation Services in ' +
          cover.location
        "
        [src]="cover.pics[0]"
      />
      <span class="recent-project-title">{{ cover.name }}</span>
      <span
        class="recent-project-view-project-button js-recent-project-view-project-button"
      >
        {{ "recentText.2" | translate }}</span
      >
    </div>
  </div>
</div>
<div class="services-grid">
  <div class="services-uper-title-body">
    <div class="services-uper-title js-services-uper-title">
      {{ "recentText.3" | translate }}
    </div>
    <div class="button-cover">
      <a class="button-view-all-link" [routerLink]="['/service']">
        <button class="button-view-all">
          <span class="button-view-all-text js-button-view-all-text-bottom">
            {{ "recentText.4" | translate }}</span
          >
          <span class="fatt1">&#187;</span>
        </button></a
      >
    </div>
  </div>

  <div class="services-kind-grid">
    <div class="service-kind-items">
      <img
        class="service-kind-items-construction-img"
        src="/Image/Logos/services-phtot-5.jpg"
        alt=""
      />
      <img
        class="service-kind-items-photo"
        src="/Image/Logos/services-logo-6.png"
      />
      <span class="services-kind-up-text js-services-kind-up-text">
        {{ "serviceTitles.0" | translate }}</span
      >
      <span class="services-kind-up-text-text js-services-kind-up-text-text">{{
        "services.0" | translate
      }}</span>
    </div>
    <div class="services-line"></div>
    <div class="service-kind-items service-kind-items-restoration">
      <img
        class="service-kind-items-construction-img"
        src="/Image/Logos/services-phtot-4.jpg"
        alt=""
      />
      <img
        class="service-kind-items-photo"
        src="/Image/Logos/services-logo-1.png"
      />
      <span class="services-kind-up-text js-services-kind-up-text">{{
        "serviceTitles.1" | translate
      }}</span>
      <span class="services-kind-up-text-text js-services-kind-up-text-text">{{
        "services.1" | translate
      }}</span>
    </div>
    <div class="services-line"></div>
    <div class="service-kind-items service-kind-items-renovation">
      <img
        class="service-kind-items-construction-img"
        src="/Image/Logos/services-phtot-1.jpg"
        alt=""
      />
      <img
        class="service-kind-items-photo"
        src="Image/Logos/services-logo-2.png"
      />
      <span class="services-kind-up-text js-services-kind-up-text">{{
        "serviceTitles.2" | translate
      }}</span>
      <span class="services-kind-up-text-text js-services-kind-up-text-text">{{
        "services.2" | translate
      }}</span>
    </div>
    <div class="services-line"></div>
    <div class="service-kind-items service-kind-items-keys">
      <img
        class="service-kind-items-construction-img"
        src="Image/Logos/services-phtot-2.jpg"
        alt=""
      />
      <img
        class="service-kind-items-photo"
        src="Image/Logos/services-logo-4.png"
      />
      <span class="services-kind-up-text js-services-kind-up-text">{{
        "serviceTitles.3" | translate
      }}</span>
      <span class="services-kind-up-text-text js-services-kind-up-text-text">{{
        "services.3" | translate
      }}</span>
    </div>
    <div class="services-line"></div>
    <div class="service-kind-items service-kind-items-maintenance">
      <img
        class="service-kind-items-construction-img"
        src="Image/Logos/services-logo-12.jpg"
        alt=""
      />
      <img
        class="service-kind-items-photo"
        src="Image/Logos/service-logo-15.png"
      />
      <span class="services-kind-up-text js-services-kind-up-text">{{
        "serviceTitles.4" | translate
      }}</span>
      <span class="services-kind-up-text-text js-services-kind-up-text-text">{{
        "services.4" | translate
      }}</span>
    </div>
  </div>
</div>
